<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drive Speed Optimizer</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
  </head>
  <body>
    <div class="container">
        <h1>Speed Optimizer</h1>
        <p>System obliczania prędkości bezpiecznej</p>

        <h2>Parametry wejściowe</h2>
        <form method="post" action="/safe-speed-form">
          <div>
              <label>Visibility (m):</label>
              <input type="number" name="visibility" min="0" max="500" placeholder="0 - 500" required>
          </div>
          <div>
              <label>Traffic (%):</label>
              <input type="number" name="traffic" min="0" max="100" placeholder="0 - 100" required>
          </div>
          <div>
              <label>Vehicle Load (%):</label>
              <input type="number" name="vehicle_load" min="0" max="100" placeholder="0 - 100" required>
          </div>
          <div>
              <label>Road Limit (km/h):</label>
              <input type="number" name="road" min="0" max="140" placeholder="0 - 140" required>
          </div>
          <button type="submit">Calculate</button>
        </form>
    </div>
  </body>
</html>